
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav{
    display:flex;
    align-items: center ;
    justify-content: space-between;
    margin: 0px 100px;
}

.dark-2{
    color:#474747;
}

.nav-title{
    font-weight: 800;
    font-size:45px;
    margin-left: 100px;
}

.nav-highlighter{
    color:#FD6E0A;
}

nav ul{
    display: flex;
    align-items: center;
    
}
 
nav ul li {
    list-style: none;
    margin-right: 50px;
}


nav ul a {
    text-decoration: none;
}

.btn-primary{
    color : #FFFFFF;
    background: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
/* header */

.header{
    background-image: url(
        "../images/developer.png"
    ),url(
        "../images/header_bg.png"
    );
    background-size:100px,100px,cover;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}

/* banner details  */

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin : 0 35px 0 200px;
    height :800px;
}

.banner-content{
    max-width: 580px;
}

.banner-greeting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
}

.banner-description{
    font-size: 18px;
    color: #757575;
    width: 400px;
}

.banner-profile-pic{
    width: 500px;
    height: 500px;
    
}